.card {
    background: transparent;
    margin: 0.5rem auto;
    padding: 1rem;
    width: 90%;
    border: none;
    // border: 1px solid gray;
    &__image {
        margin:inherit;
        width: inherit;
    }
    &__options {
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
    }
    
}