.card {
  background: transparent;
  margin: 0.5rem auto;
  padding: 1rem;
  height: calc(100vh - 5rem);
  width: 90%;
  border: none;
  // border: 1px solid gray;
  &__image {
    width: 75%;
    margin: 3rem auto 0;
    transform: rotate(5deg);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
    border-radius: 12px;
  }
  &__options {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
    .btn {
      font-size: 1.5rem;
    }
  }
  .btn__lower {
  }
  &__computer {
    position: absolute;
    top: 2rem;
    z-index: -10;
    .card__image {
      transform: rotate(-5deg);
    }
  }
}
