.scoreboard {
  height: 4rem;
  background: black;
  color: white;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  padding-top: 10px;
  p {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &__player {
    order: 1;
    border-right: 1px solid white;
  }
  &__computer {
    order: 3;
    border-left: 1px solid white;
  }
  &__round {
    color: white;
    order: 2;
  }
}
