.start {
  color: white;
  height: 100vh;
  &__title {
    font-family: 'star_jediregular';
    font-size: 2rem;
    text-align: center;
  }
  &__images {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
  }
  &__image {
    width: calc((100% / 5) - 1rem);
  }
  h3 {
    background: rgba(0, 0, 0, 0.4);
    padding: 1rem 0.5rem 0.25rem 1.5rem;
    text-align: left;
    width: 80%;
    margin: 0 auto;
  }
  &__instructions {
    // border: 20px solid red;
    // border-image: url(../../assets/images/border_suits.png);
    // border-image-slice: 25;
    // border-image-width: 1;
    // border-image-repeat: round;
    background: rgba(0, 0, 0, 0.4);
    padding-bottom: 0.5rem;
    width: 80%;
    margin: 0 auto;
    li {
      padding: 0.25rem 0;
      i {
        display: inline-block;
        margin: 0 3px;
        font-size: 1.25rem;
        border: 1px solid white;
        padding: 2px;
        background: white;
        color: black;
        border-radius: 4px;
      }
    }
  }
}
