.start {
  color: white;
  height: 100vh;
  &__title {
    font-family: 'star_jediregular';
    font-size: 2rem;
    text-align: center;
  }
  &__images {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
  }
  &__image {
    width: calc((100% / 5) - 5px);
  }
  h3 {
    margin-bottom: 0.5rem;
    text-align: left;
  }
  &__instructions li {
    padding: 0.25rem 0;
  }
}
