.start {
  color: white;
  height: 100vh;
  &__title {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    margin: 0.5rem 0 1.5rem 0;
  }
  &__images {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
  }
  &__image {
    width: calc((100% / 5) - 1rem);
    &:nth-child(even) {
      transform: rotate(-10deg) translateY(-10px);
    }
    &:nth-child(odd) {
      transform: rotate(10deg);
    }
  }
  h3 {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 0.5rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  &__instructions {
    background: rgba(0, 0, 0, 0.4);
    border-width: 0 1px 1px 1px;
    border-color: white;
    border-style: solid;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-bottom: 0.5rem;
    width: 80%;
    margin: 0 auto;
    padding: 0.25rem 0.25rem 0.25rem 1.75rem;
    li {
      padding: 0.25rem 0;
      i {
        display: inline-block;
        margin: 0 3px;
        font-size: 1.25rem;
        border: 1px solid white;
        padding: 2px;
        background: white;
        color: black;
        border-radius: 4px;
      }
    }
  }
}
